
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}myTodos!{% endblock %}</title>

        {% block stylesheets %}

            <!-- Font Awesome Icons	-->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">


            <style>
                .page-title {
                    border-bottom: 1px solid grey;
                }
                .box {
                    background-color: #EEEEEE;
                    border-radius: 10px;
                    margin: 10px 0 10px 0;
                    padding: 10px 15px 10px 15px;
                }
                .box-white {
                    border: 1px solid #EEEEEE;
                    border-radius: 10px;
                    margin: 10px 0 10px 0;
                    padding: 10px 15px 10px 15px;
                }
                a .switch {
                    padding: 2px;
                    border-bottom: 1px solid white;
                    width: 32px;
                    height: 32px;
                }

                a .switch:hover {
                    border-bottom: 1px solid black;
                }

                a .switchActive {
                    border-bottom: 1px solid #AAAAAA;
                }


             </style>

        {% endblock %}

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

    {% macro active(name) %}
        {% if app.getRequest().getLocale() == name %}
            switchActive
        {% endif %}
    {% endmacro %}


        <div class="container">
            <diV class="row col-md-12 box-white ">
                <h6 class="pull-right">

                    <a href="{{ path('locale', {_locale: 'en'}) }}" >
                        <img src="{{ asset('img/flag-eng.png') }}" class="switch {{ _self.active('en') }}"/></a>
                    <a href="{{ path('locale', {_locale: 'es'}) }}" >
                        <img src="{{ asset('img/flag-esp.png') }}" class="switch {{ _self.active('es') }}"/></a>
                    <a href="{{ path('locale', {_locale: 'pl'}) }}" >
                        <img src="{{ asset('img/flag-pl.png') }}" class="switch {{ _self.active('pl') }}"/></a>
                </h6>
            </diV>
        </div>


        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer class="container">
            <div class="row col-md-12 box">
                <h6>myTodos &copy; 2016 - {% trans %} all.rights {% endtrans %}</h6>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
