{% extends 'base.html.twig' %}

{% block body %}
    <div class="row col-md-12 box">
        <h1 class="page-title" ><i class="fa fa-th-list"></i> {% trans %} tasks.list {% endtrans %}</h1>
    </div>

    <div class="row col-md-12 box-white">
        <a href="{{ path('home') }}" class="btn btn-success"><i class="fa fa-home"></i> {% trans %} go.home {% endtrans %}</a>
        <a href="{{ path('add') }}" class="btn btn-warning"><i class="fa fa-plus"></i>  {% trans %} add.task {% endtrans %}</a>
    </div>

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>

                <th>{% trans %} task.name {% endtrans %}
                    {% if order == 'id' or order == 'desc' %}
                        <a href="{{ path('all', {'order':'asc'}) }}" class="btn btn-secondary btn-sm pull-right" >
                            <i class="fa fa-sort-alpha-asc"></i></a>
                    {% elseif order == 'asc' %}
                        <a href="{{ path('all', {'order':'desc'}) }}" class="btn btn-secondary btn-sm pull-right" >
                            <i class="fa fa-sort-alpha-desc"></i></a>
                    {% endif %}
                </th>
                <th>{% trans %} task.priority {% endtrans %}</th>
                <th>{% trans %} task.options {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ todo.name }}</td>

                {% if todo.priority == 'niski' %} <td class="table-info" align="center">
                {% elseif todo.priority == 'normalny' %} <td class="table-warning" align="center">
                {% elseif todo.priority == 'wysoki' %} <td class="table-danger" align="center">
                {% else %} <td>
                {% endif %}
                    {{ todo.priority }}</td>

                <td align="center">
                    <a href="{{ path('details', {'id':todo.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>
                        {% trans %} task.details {% endtrans %}</a>
                    <a href="{{ path('edit', {'id':todo.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i>
                        {% trans %} task.edit {% endtrans %}</a>
                    <a href="{{ path('delete', {'id':todo.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-minus"></i>
                        {% trans %} task.delete {% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan = "5">{% trans %} all.tasks {% endtrans %} {{ todos|length }}</th>

            </tr>
        </tfoot>

    </table>



{% endblock %}