{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-md-12 box">
        <h1 class="page-title" ><i class="fa fa-eye"></i> {% trans %} task.details.page {% endtrans %}</h1>
        <h4>id.{{ todo.id }}</h4>
    </div>


    <div class="row col-md-12 box-white">
        <a href="{{ path('home') }}" class="btn btn-success"><i class="fa fa-home"></i> {% trans %} go.home {% endtrans %}</a>
        <a href="{{ path('all') }}" class="btn btn-success"><i class="fa fa-th-list"></i>  {% trans %} go.all {% endtrans %}</a>
        <a href="{{ path('add') }}" class="btn btn-warning"><i class="fa fa-plus"></i>  {% trans %} add.task {% endtrans %}</a>

        <hr>
        {% set prev = 'disabled' %}
        {% set next = 'disabled' %}

        {% for todoId in todosId %}
            {% if todoId.id == todo.id %}

                {% if loop.first %}
                    {% set prev = 'disabled' %}
                    {% set next = todosId[loop.index].id %}
                {% elseif loop.last %}
                    {% set prev = todosId[loop.index-2].id %}
                    {% set next = 'disabled' %}
                {% else %}
                    {% set prev = todosId[loop.index-2].id %}
                    {% set next = todosId[loop.index].id %}
                {% endif %}

            {% endif %}
        {% endfor %}

        <a href="{{ path('details', {'id':prev}) }}" class="btn btn-info {{ prev }}"><i class="fa fa-arrow-left"></i>
            {% trans %} go.previous {% endtrans %} </a>
        <a href="{{ path('details', {'id':next}) }}" class="btn btn-info {{ next }}">
            {% trans %} go.next {% endtrans %} <i class="fa fa-arrow-right"></i></a>
    </div>


    <div class="row col-md-12 box-white">
        <div class="col-md-7">
            <h4>{% trans %} task.name {% endtrans %}</h4>
            <p>{{ todo.name }}</p>
            <h4>{% trans %} task.description {% endtrans %}</h4>
            <p>{{ todo.description }}</p>
        </div>

        <div class="col-md-5">
            <table class="table table-reflow ">
                <thead class="thead-inverse">
                    <tr>
                        <th>id</th>
                        <th>{% trans %} due.time {% endtrans %}</th>
                        <th>{% trans %} task.priority {% endtrans %}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.date|date('H:i:s m/d/Y') }}</td>


                        {% if todo.priority == 'niski' %} <td class="table-info">
                            {% elseif todo.priority == 'normalny' %} <td class="table-warning">
                            {% elseif todo.priority == 'wysoki' %} <td class="table-danger">
                            {% else %} <td>
                            {% endif %}
                            {{ todo.priority }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row col-md-12 box-white">
        <a href="{{ path('edit', {'id':todo.id}) }}" class="btn btn-warning "><i class="fa fa-pencil"></i>
            {% trans %} task.edit {% endtrans %}</a>
        <a href="{{ path('delete', {'id':todo.id}) }}" class="btn btn-danger "><i class="fa fa-minus"></i>
            {% trans %} task.delete {% endtrans %}</a>
    </div>


{% endblock %}