{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-md-12 box">
        <h1 class="page-title"><i class="fa fa-pencil"></i> {% trans %} task.edit.page {% endtrans %}</h1>
        <h4>id.{{ todo.id }}</h4>
    </div>

    <div class="row col-md-12 box-white">
        <a href="{{ path('home') }}" class="btn btn-success"><i class="fa fa-home"></i> {% trans %} go.home {% endtrans %}</a>
        <a href="{{ path('all') }}" class="btn btn-success"><i class="fa fa-th-list"></i>  {% trans %} go.all {% endtrans %}</a>
    </div>


    {% set task_name %} {% trans %} task.name {% endtrans %} {% endset %}
    {% set task_description %} {% trans %} task.description {% endtrans %} {% endset %}
    {% set task_due_time %} {% trans %} due.time {% endtrans %} {% endset %}
    {% set task_priority %} {% trans %} task.priority {% endtrans %} {% endset %}


    {{ form_start(form) }}
    <div class="row col-md-12 box-white">
        <div class="col-md-8">
            {{ form_row(form.name, {'label': task_name|trans,
                'attr': {'class': 'form-control',
                    'placeholder': task_name|trans} }) }}

            {{ form_row(form.description, {'label': task_description|trans,
                'attr': {'class': 'form-control', 'placeholder': task_description|trans, 'rows':5} }) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.date, {'label': task_due_time|trans,
                'attr': {'class': 'form-control'} }) }}

            {{ form_row(form.priority, {'label': task_priority|trans,
                'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="row col-md-12 box-white">
        <button type="submit" class="btn btn-primary "><i class="fa fa-floppy-o"></i> {% trans %} save.changes {% endtrans %} </button>
    </div>
    {{ form_end(form) }}


{% endblock %}