{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-md-12 box">
        <div class="col-md-1">
            <a href="{{ path('home') }}"><i class="fa fa-check-circle fa-5x"></i></a>
        </div>
        <div class="col-md-11">
            <h1 class="page-title">{% trans %} hello.myTodo {% endtrans %}</h1>
            <h4>{% trans %} hello.tasks {% endtrans %}</h4>

        </div>

    </div>

    <div class="row col-md-12 box-white">
        <a href="{{ path('all') }}" class="btn btn-success"><i class="fa fa-eye"></i> {% trans %} show.tasks {% endtrans %}</a>
        <a href="{{ path('add') }}" class="btn btn-warning"><i class="fa fa-plus"></i> {% trans %} add.task {% endtrans %}</a>
    </div>
{% endblock %}
